/* sidenav drag elements */
:host .toolbar {
  /* height: 100px; */
  /* width: 250px; */
  text-align: center;
}

button {
  /* height: 35px; */
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-container > * {
  width: 100%;
}
