<!-- sidenav toolbar adding component -->
    <div class="toolbar">
      <div class="form-container">
        <mat-form-field>
          <input matInput placeholder="Project Name" [(ngModel)]="idea.ProjectName">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="User Name" [(ngModel)]="idea.UserName">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Image Url" [(ngModel)]="idea.image">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Descripe" [(ngModel)]="idea.Descripe">
        </mat-form-field>
        <button (click)="create(idea)" mat-raised-button color="primary">Add Idea</button>
      </div>
    </div>