:host {
    display: block;
    padding: 32px;
    /* border: 1px solid black; */
    border-radius: 8px;
  }

.example-card {
  max-width: 450px;
  /* margin: 35px; */
}

#deleteButton{
  width: 100%;
}

.example-header-image {
  background-image: url('https://images.unsplash.com/photo-1553364851-7de6d86102c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
  background-size: cover;
}

.mat-card-header-text{
  text-align: left;
  width: 100%;
}

mat-card-subtitle{
  float: left;
}

.post-tile {
  align-self: flex-start;
  width: 100%-32px;
  /* margin-right: 32px; */
}

p{
  text-align: left;
}

h3{
  margin:0;
  padding:15px 0 0 0;
}

mat-list > mat-list-item{
  text-align : left;
  margin : 10px auto;
}

.existListDeleteButton{
  margin: 0 0 0 auto;
  color: red;
}

.existLinkDeleteButton{
  margin: 0 0 0 auto;
  color: red;
}

mat-form-field{
  margin-top: 20px;
  width: 100%;
}

mat-progress-bar{
  height: 35px;
}

.expand-icon{
  margin-top:10px;
}






/* Drag&Drop sorting */
#drag_indicator{
  cursor: move;
  color: grey;
}

.movingListBox {
  max-width: 100%;
  /* border: solid 1px #ccc; */
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.movingListItem {
  background: white;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.movingListItem:last-child {
  border: none;
}

.movingListBox.cdk-drop-list-dragging .movingListItem:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.HovertoShow{
  opacity:0
}

mat-list-item:hover .HovertoShow{
  opacity:100
}

