<!-- <div>Card</div> -->
<mat-card class="example-card post-tile">
  <button mat-button (click)="delete(data.id)" id="deleteButton">
    <mat-icon aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
  </button>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image" ></div>
    <div class="mat-card-header-text">
      <mat-card-title>{{data.ProjectName}}</mat-card-title>
      <mat-card-subtitle>{{data.UserName}}</mat-card-subtitle>
      <mat-card-subtitle style="float: right;">{{data.LastTime.toDate() | date:"h:mm:ss a MMM d, y"}}</mat-card-subtitle>
    </div>
  </mat-card-header>
  <img mat-card-image [src]="data.image" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      {{data.Descripe}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="data.progress = data.progress - addsub; update(data)">-{{addsub}}</button>
    <button mat-button (click)="data.progress = data.progress + addsub; update(data)">+{{addsub}}</button>
  </mat-card-actions>
  <mat-card-footer>
    <mat-progress-bar [value]="data.progress"></mat-progress-bar>
  </mat-card-footer>
  
</mat-card>
<!-- <button (click)=add()>Add</button>
  <h3 *ngFor="let item of items">
    {{item.progress}}
  </h3> -->


<!-- Copyright 2019 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->