:host {
    display: block;
    padding: 32px;
    /* border: 1px solid black; */
    border-radius: 8px;
  }

.example-card {
  /* max-width: 400px; */
  /* margin: 35px; */
}

#deleteButton{
  width: 100%;
}

.example-header-image {
  background-image: url('https://images.unsplash.com/photo-1553364851-7de6d86102c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
  background-size: cover;
}

.mat-card-header-text{
  text-align: left;
  width: 100%;
}

mat-card-subtitle{
  float: left;
}

.post-tile {
  align-self: flex-start;
  width: 100%-32px;
  /* margin-right: 32px; */
}

p{
  text-align: left;
}

mat-list > mat-list-item{
  text-align : left;
  margin : 10px auto;
  color: red;
}

.existLinkDeleteButton{
  margin: 0 0 0 auto;
}

mat-form-field{
  margin-top: 20px;
  width: 100%;
}

mat-progress-bar{
  height: 35px;
}