<!-- <div>Card</div> -->
<mat-card class="example-card post-tile">
  <button mat-button (click)="delete(data.id)" id="deleteButton">
    <mat-icon aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
  </button>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image" ></div>
    <div class="mat-card-header-text">
      <mat-card-title>{{data.ProjectName}}</mat-card-title>
      <mat-card-subtitle>{{data.UserName}}</mat-card-subtitle>
      <!-- <mat-card-subtitle style="float: right;">{{data.LastTime.toDate() | date:"h:mm:ss a MMM d, y"}}</mat-card-subtitle> -->
    </div>
  </mat-card-header>
  <img mat-card-image [src]="data.image" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      {{data.Descripe}}
    </p>

    <mat-divider></mat-divider>

    <h3 [hidden]="data.List.length == 0">Items</h3>
    <mat-list *ngFor="let listItem of data.List; index as i">
      <mat-list-item>
        <h4>{{listItem}}</h4>
        <button class="existListDeleteButton" mat-button mat-icon-button (click)="removeList(i)">
          <mat-icon>close</mat-icon>
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    
    <h3 [hidden]="data.Link.length == 0">Links</h3>
    <mat-list *ngFor="let url of data.Link; index as i">
      <mat-list-item>
        <a href="{{url}}">{{url}}</a>
        <button class="existLinkDeleteButton" mat-button mat-icon-button (click)="removeLink(i)">
          <mat-icon>close</mat-icon>
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>

    <div id="addItemLink" [style.display]="expandIcon ? 'none' : 'inline'">
      <mat-form-field>
        <input matInput placeholder="Add Items" [(ngModel)]="thisList" (keyup.enter)="data.List.push(thisList);update(data)">
        <button mat-button *ngIf="thisList" matSuffix mat-icon-button aria-label="Clear" (click)="thisList=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Add Links" [(ngModel)]="thisLink" (keyup.enter)="data.Link.push(thisLink);update(data)">
        <button mat-button *ngIf="thisLink" matSuffix mat-icon-button aria-label="Clear" (click)="thisLink=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    
    <button mat-button mat-icon-button (click)="expandIcon = !expandIcon">
      <mat-icon aria-hidden="false" aria-label="Example expand icon" [style.display]="expandIcon ? 'inline' : 'none'"
      >expand_more</mat-icon>
      <mat-icon aria-hidden="false" aria-label="Example expand icon"
      [style.display]="expandIcon ? 'none' : 'inline'"
      >expand_less</mat-icon>
    </button>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="data.progress = data.progress - addsub; update(data)">-{{addsub}}</button>
    <button mat-button (click)="data.progress = data.progress + addsub; update(data)">+{{addsub}}</button>
  </mat-card-actions>
  <mat-card-footer>
    <mat-progress-bar [value]="data.progress"></mat-progress-bar>
  </mat-card-footer>
  
</mat-card>
<!-- <button (click)=add()>Add</button>
  <h3 *ngFor="let item of items">
    {{item.progress}}
  </h3> -->


<!-- Copyright 2019 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->