<div class="main-menu">
  <button mat-icon-button (click)="drawer.toggle()">
    <!-- <mat-icon>{{ sideNav.opened ? 'close' : 'menu' }}</mat-icon> -->
    <mat-icon aria-hidden="false" aria-label="Example menu icon">menu</mat-icon>
  </button>

  <span id="LogoName">Show Ideas</span>

  <!-- <button mat-button (click)="addCard()">Add</button> -->
  
  <button mat-button [matMenuTriggerFor]="removeMenu">Remove {{i}}</button>
  <mat-menu #removeMenu="matMenu" xPosition="after">
    <ng-container *ngFor="let i of arr">
      <button mat-menu-item (click)="removeCard(i)">{{i}}</button>
    </ng-container>
  </mat-menu>
</div>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">

    <sidenav></sidenav>
    
  </mat-drawer>


  <div id="container">
    <div class="cardList">
      <ng-container *ngFor="let idea of ideas | async">
        <card class="cardListItem" [data]="idea"></card>
        <!-- <button mat-button (click)="removeCard(i)">Remove {{i}}</button> -->
      </ng-container>
    </div>
  </div>

</mat-drawer-container>



<!-- Copyright 2019 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->