#LogoName{
  font-size: 1.5em;
  height:36px;
  font-weight:bold;
  padding-left:35px;
  padding-right:25px;
}

.main-menu {
  padding: 30px;
  background: rgb(250,112,154);
  background: linear-gradient(-20deg, rgba(250,112,154,1) 25%, rgba(254,225,64,1) 75%);
}


#SortChangeButton{
  float: right;
}

#YourIDEditor{
  float: right;
   margin-right:25px;
}

.GoogleSignInButton{
  float: right;
  margin-left:35px;
}



#container{
    display:flex;
    align-items:center;
    justify-content:center;
    text-align: center;
    margin-top: 2em;
}

/*Waterfall Layout*/
.cardList {    
  justify-content: center;
  max-width: 1490px
}

.cardList > * {
  padding: 0;
}

.masonry { /* Masonry container */
  column-count: 4;
  column-gap: 2em;
}

.masonryItem { /* Masonry bricks or child elements */
  background-color: #eee;
  display: inline-block;
  margin: 0 0 2em;
  width: 100%;
}
  


  .example-sidenav {
  padding: 20px;
}




