<div class="main-menu">
	<button mat-icon-button (click)="drawer.toggle()">
    <mat-icon aria-hidden="false" aria-label="Example menu icon">menu</mat-icon>
  </button>

  <span id="LogoName">Show Ideas</span>

  <mat-form-field id="YourIDEditor">
    <input matInput [placeholder]="'Label : ' + getID()" [(ngModel)]="thisLabelID" (keyup.enter)="setID(thisLabelID);thisLabelID='';$event.target.blur()">
    <button mat-button *ngIf="thisLabelID" matSuffix mat-icon-button aria-label="Clear" (click)="thisLabelID=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>


  <div *ngIf="authService.user$  | async; let user; else showLogin" class="GoogleSignInButton">
    <button (click)="logout()" mat-flat-button color="primary">
      <img [src]="user.photoURL" width="30" height="30" style="border-radius: 50%;">
      {{ user.displayName }} Logout
    </button>
  </div>
  <ng-template #showLogin>
    <div class="GoogleSignInButton">
      <button (click)="login()" mat-flat-button color="primary">Login with Google</button>
    </div>
  </ng-template>

  
</div>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">

    <sidenav></sidenav>
    
  </mat-drawer>


  <div id="container">
    <div class="cardList">
      <ng-container *ngFor="let idea of ideas">
        <card class="cardListItem" [data]="idea"></card>
      </ng-container>
      
    </div>
    <div style="height:75vh;"></div><!-- If no ideas in firebase, it will set a height. In order to make sidenav work -->
  </div>

</mat-drawer-container>



<!-- Copyright 2019 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->