#LogoName{
  font-size: 1.5em;
  height:36px;
  font-weight:bold;
  padding-left:35px;
  padding-right:25px;
}

.main-menu {
  padding: 30px;
  background: rgb(250,112,154);
  background: linear-gradient(-20deg, rgba(250,112,154,1) 25%, rgba(254,225,64,1) 75%);
}


/* Side Nav */
.example-sidenav {
  padding: 20px;
  text-align: center;
}

#SortChangeButton{
  float: right;
}

#YourIDEditor{
   width: 80%;
   margin-top:15px;
}

#YourIDDropdown{
  width: 80%;
  margin-top:15px;
}

.GoogleSignInButton{
  text-align: center;
}


/* Main Content */
#container{
    display:flex;
    align-items:center;
    justify-content:center;
    text-align: center;
    margin-top: 2em;
}

.cardList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1490px
  }
  /* Column Gap */
  .cardList > * {
    box-sizing: border-box;
    margin-top: 32px;
    margin-right: 32px;
  }
  .cardList {
    margin-left: 32px;
  }
  /* Item sizing */
  .cardListItem {
    flex: 0 1 calc(33.3% - 32px);
    max-width:450px;
    /* padding: 0px; */
    /* text-align: center; */
  }
  /* medium size viewport */
  @media screen and (max-width: 1200px) {
    /* Column Gap */
    .cardList > *:not(:last-child) {
      margin-right: 32px;
    }
    /* Item sizing */
    .cardListItem {
      flex: 0 1 calc(50% - 32px);
    }
  }
  /* small size viewport */
  @media screen and (max-width: 849px) {
    .cardList {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-left: 0;
    }
    .cardList > *:not(:last-child) {
      width: 80%;
      margin: 0 auto;
      margin-bottom: 32px;
    }
  }

.grid-col{
    width:450px;
  }







#DialogButton{
  position: fixed;
  z-index:3;
  right: 35px;
  bottom: 35px;
}